footer {
    text-align: center;
    padding: 0;
    width: 100%;

    .footer-parallax-section {
        min-height: 300px;
        width: 100%;
        background-image: url("../images/bg-dark.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */
            background-attachment: scroll;
            background-size: auto 100%;
            min-height: 100vh;
        }
    }

    .footer-content {
        padding: 50px 0;
        
        svg {
            width: 1.1em !important;
            height: 1.1em !important;
            margin-right: 10px;
        }

        p {
            font-size: 0.8em;
            margin-top: 20px;
        }
    }
}

.light-mode footer .footer-parallax-section {
    background-image: url("../images/bg-light.png");
}